In [44]:
spark.sql("SELECT 1 + 1").show()

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [45]:
spark.sql("DROP TABLE IF EXISTS flight_test")

DataFrame[]

In [47]:
spark.read.json("data/flight-data/json/2015-summary.json").createOrReplaceTempView("some_sql_view") # DF => SQL

spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count)
FROM some_sql_view 
GROUP BY DEST_COUNTRY_NAME
""").where("DEST_COUNTRY_NAME like 'S%'").where("`sum(count)` > 10").show()

+--------------------+----------+
|   DEST_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|             Senegal|        40|
|              Sweden|       118|
|               Spain|       420|
|    Saint Barthelemy|        39|
|Saint Kitts and N...|       139|
|         South Korea|      1048|
|        Sint Maarten|       325|
|        Saudi Arabia|        83|
|         Switzerland|       294|
|         Saint Lucia|       123|
|               Samoa|        25|
|        South Africa|        36|
+--------------------+----------+

In [4]:
spark.sql("""
SELECT * FROM flight_test
""").show()

+--------------------+----------+
|   DEST_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|            Anguilla|        41|
|              Russia|       176|
|            Paraguay|        60|
|             Senegal|        40|
|              Sweden|       118|
|            Kiribati|        26|
|              Guyana|        64|
|         Philippines|       134|
|            Djibouti|         1|
|            Malaysia|         2|
|           Singapore|         3|
|                Fiji|        24|
|              Turkey|       138|
|                Iraq|         1|
|             Germany|      1468|
|              Jordan|        44|
|               Palau|        30|
|Turks and Caicos ...|       230|
|              France|       935|
|              Greece|        30|
+--------------------+----------+
only showing top 20 rows

In [48]:
spark.sql("DROP TABLE flights")

DataFrame[]

In [49]:
spark.sql("""
  CREATE TABLE flights (
  DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
  USING JSON OPTIONS (path '/Users/darshil/Documents/DataWithDarshil/ApacheSparkwithDataBricks/Code/data/flight-data/json/2015-summary.json')
""")

24/01/05 13:22:43 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider JSON. Persisting data source table `spark_catalog`.`default`.`flights` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [50]:
spark.sql("Select * FROM flights").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [10]:
spark.sql("DROP TABLE IF EXISTS flights_from_select")

24/01/05 12:52:11 WARN FileUtils: File file:/Users/darshil/Documents/DataWithDarshil/Apache%20Spark%20with%20DataBricks/Code/spark-warehouse/flights_from_select does not exist; Force to delete it.
24/01/05 12:52:11 ERROR FileUtils: Failed to delete file:/Users/darshil/Documents/DataWithDarshil/Apache%20Spark%20with%20DataBricks/Code/spark-warehouse/flights_from_select

DataFrame[]

In [11]:
spark.sql("CREATE TABLE flights_from_select USING parquet AS SELECT * FROM flights")

DataFrame[]

In [12]:
spark.sql("SELECT * FROM flights_from_select").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [51]:
spark.sql("DROP TABLE IF EXISTS hive_flights")

DataFrame[]

In [52]:
spark.sql("""
CREATE EXTERNAL TABLE hive_flights (
    DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
LOCATION '/Users/darshil/Documents/DataWithDarshil/ApacheSparkwithDataBricks/Code/data/flight-data-hive/'
""")

DataFrame[]

In [54]:
spark.sql("SELECT * FROM hive_flights").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [55]:
spark.sql("DROP TABLE IF EXISTS hive_flights_2")

DataFrame[]

In [57]:
spark.sql("""
CREATE EXTERNAL TABLE hive_flights_2
  ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
  LOCATION 'data/flight-data-hive/test/' AS SELECT * FROM flights
""")

DataFrame[]

In [58]:
spark.sql("SELECT * FROM hive_flights_2").show(20)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [59]:
spark.sql("""INSERT INTO flights_from_select
SELECT DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count FROM flights LIMIT 20""")

DataFrame[]

In [60]:
spark.sql("SELECT * FROM flights_from_select").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [63]:
spark.sql("DESCRIBE TABLE hive_flights").show()

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|  DEST_COUNTRY_NAME|   string|   NULL|
|ORIGIN_COUNTRY_NAME|   string|   NULL|
|              count|   bigint|   NULL|
+-------------------+---------+-------+

In [64]:
spark.sql("SHOW PARTITIONS  hive_flights").show()

AnalysisException: [INVALID_PARTITION_OPERATION.PARTITION_SCHEMA_IS_EMPTY] The partition command is invalid. Table `spark_catalog`.`default`.`hive_flights` is not partitioned.